<div class="paginator">
	{% if maxPages > 1 %}
	<ul class="pagination pagination-sm">
	    {# `«` arrow  #}
	    <li {{ thisPage == 1 ? 'class="disabled"' }}>
	        <a href="{{ url }}/{{ thisPage-1 < 1 ? 1 : thisPage-1 }}/{{ jsonFilter }}">«</a>
	    </li>
	
	    {# Render each page number #}
	    {% for i in 1..maxPages %}
	    <li {{ thisPage == i ? 'class="active"' }}>
	    <a href="{{ url }}/{{ i }}/{{ jsonFilter }}">{{ i }}</a>
	    </li>
	    {% endfor %}
	
	    {# `»` arrow #}
	    <li {{ thisPage == maxPages ? 'class="disabled"' }}>
	        <a href="{{ url }}/{{ thisPage+1 <= maxPages ? thisPage+1 : thisPage }}/{{ jsonFilter }}">»</a>
	    </li>
	</ul>
	{% endif %}
</div>